@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #1F1F1F;
    background-color: #ebebeb;
}


/* -------------------------------------------- Navigation Bar --------------------------------------------------- */

.navbar {
    transition: all 0.5s;
}

.navbar li {
    padding-right: 20px;
}

.navbar .nav-link {
    color: #ebebeb;
    font-size: 1.1em;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #F2AF29;
    text-decoration: none;
}

.navbar-nav>.active>a {
    color: #F2AF29;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #F2AF29;
}


/* Change navbar styling on scroll */

.navbar.below {
    background: #1F1F1F;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.below .nav-link {
    color: #ebebeb;
}

.navbar.below .nav-link:hover,
.navbar.below .nav-link:focus {
    color: #F2AF29;
    text-decoration: none;
}

.navbar.below .navbar-nav>.active>a {
    color: #F2AF29;
    text-decoration: none;
}

.navbar.below .navbar-brand {
    color: #F2AF29;
}


/* Change navbar styling on small viewports */

@media (max-width: 991.98px) {
    .navbar {
        background: #1F1F1F;
    }
    .navbar .navbar-brand,
    .navbar .nav-link {
        color: #ebebeb;
    }
    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(242, 175, 41, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    .custom-toggler.navbar-toggler {
        border-color: #FFD977;
    }
}


/* ----------------------------------------------------Carousel ------------------------------------------------------ */

.carousel-caption {
    position: absolute;
    top: 55%;
    transform: translateY(-45%);
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.85);
}

.carousel-caption h5 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
    color: #F2AF29;
}

.carousel-caption h1 {
    font-size: 500%;
    text-shadow: 1px 1px 2px #6c757d;
    color: #ebebeb;
}

.carousel-caption p {
    text-shadow: 1px 1px 15px #000;
    font-size: 1.1em !important;
    color: #6c757d;
}

.carousel-caption .btn-outline-secondary:hover {
    border: 2px solid #F2AF29;
    background-color: transparent;
}

.carousel-indicators .active {
    background-color: transparent;
}

.carousel-indicators .social a {
    text-align: center;
    font-size: 2em;
    padding: 1rem;
}

.carousel-indicators .fa-file:hover,
.carousel-indicators .fa-github:hover,
.carousel-indicators .fa-linkedin:hover,
.carousel-indicators .fa-envelope:hover {
    color: #F2AF29;
}

.carousel-indicators .fa-file,
.carousel-indicators .fa-github,
.carousel-indicators .fa-linkedin,
.carousel-indicators .fa-envelope {
    color: #ebebeb;
}


/* ----------------------------------------------------Content---------------------------------------------- */

.content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}


/* ----------------------------------------------------Buttons ---------------------------------------------- */

.btn-primary {
    color: #1F1F1F;
    background-color: #F2AF29 !important;
    border: 1px solid #FFD977 !important;
}

.btn-primary:hover {
    box-shadow: inset 0 0 0 20rem #1F1F1F !important;
}

.btn-primary:active {
    color: #ffffff;
    background-color: #1F1F1F !important;
    border-color: #6c757d !important;
    box-shadow: inset 0 0 0 20rem #6c757d, inset 0 3px 4px 0 #1F1F1F, 0 0 1px #6c757d !important;
}

.btn-success:active:focus {
    color: #ffffff !important;
    background-color: #1F1F1F !important;
    border-color: #6c757d !important;
    box-shadow: inset 0 0 0 20rem #6c757d, inset 0 3px 4px 0 #1F1F1F, 0 0 1px #6c757d !important;
}

.btn-outline-secondary:hover {
    background-color: #6c757d;
    border: 1px solid #6c757d;
}


/* ----------------------------------------------Sections--------------------------------------------- */

.padding {
    padding-bottom: 4rem;
}

.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome a {
    color: #F2AF29;
    text-shadow: 0.25px 0.25px 0.5px #1F1F1F;
    font-weight: bold
}

.welcome a:hover {
    color: #F2AF29
}

.welcome h1 {
    color: #1F1F1F;
    text-shadow: 1px 1px 2px #6c757d;
}

.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: 3rem;
    margin-bottom: 1rem;
}


/* ----------------------------------------------Social Media --------------------------------------- */

.social a {
    font-size: 3em;
    padding: 2rem;
}

.fa-linkedin:hover {
    color: #2867B2;
}

.fa-github:hover {
    color: #FFFFFF;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-instagram:hover {
    color: #833AB4;
}

.fa-linkedin,
.fa-github,
.fa-facebook,
.fa-instagram,
.fa-youtube:hover {
    color: #d5d5d5;
}

.fa-youtube {
    color: #bb0000;
}


/* ----------------------------------------------------footer------------------------------------------------- */

footer {
    background-color: #1F1F1F;
    color: #ebebeb;
    padding-top: 1.5rem;
}


/* ----------------------------------------------------hr lines------------------------------------------------- */

hr.light-100 {
    border-top: 1px solid #6c757d;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}


/* ----------------------------------------------------Contact Form------------------------------------------------- */

.form-group {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}


/* ----------------------------------------------------------Dance------------------------------------------------- */

.dance {
    background-image: url("img/dancebackground.jpg");
    background-color: #ebebeb;
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    transform: translateZ(0);
    will-change: transform;
}

.with-chevron[aria-expanded='true'] .fa-angle-up {
    display: block;
    transform: rotate(180deg) !important;
}


/* -------------------------------------------------------Skills------------------------------------------------------- */

#skills ul {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#skills li {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    background: #fff;
    list-style: none;
    cursor: default;
    font-size: 1.2em;
    box-shadow: 0.2rem 0.2rem 1rem 0 rgba(0, 0, 0, 0.2);
}


/* --------------------------------------------------Projects----------------------------------------------------- */

.card {
    box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
}


/* ----------------------------------------------------------Timeline--------------------------------------------- */

.timeline {
    /* width: 75%;
  max-width: 800px; */
    background: #fff;
    padding: 100px 50px;
    position: relative;
    box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0px;
    left: calc(33% + 15px);
    bottom: 0px;
    width: 4px;
    background: #ddd;
}

.timeline:after {
    content: "";
    display: table;
    clear: both;
}

.entry {
    clear: both;
    text-align: left;
    position: relative;
}

.entry .title {
    margin-bottom: .5em;
    float: left;
    width: 33%;
    padding-right: 40px;
    text-align: right;
    position: relative;
    padding-bottom: 30px;
}

.entry .title h3 {
    margin: 0;
    font-size: 120%;
}

.entry .title p {
    color: #F2AF29;
    margin: 0;
    font-size: 100%;
}

.entry .body {
    margin: 0 0 3em;
    float: right;
    width: 66%;
    padding-left: 30px;
}

.entry .body p {
    line-height: 1.4em;
}

.entry .body p:first-child {
    margin-top: 0;
    font-weight: 400;
}

.entry .body ul {
    color: #6c757d;
    padding-left: 0;
    list-style-type: none;
}

.entry .body ul li:before {
    content: "–";
    margin-right: .5em;
}

.timeline .entry img {
    /* padding: 1em 2em; */
    border-radius: 100%;
    height: 3em;
    height: 3em;
    border: 4px solid #ddd;
    position: absolute;
    /* background-color: #fff; */
    /* border-radius: 100%; */
    top: 0%;
    right: -25px;
    z-index: 99;
}


/*------------------------------------Media Queries ---------------------------------*/

@media (max-width: 1006px) {
    .social a {
        font-size: 2.5em;
        padding: 1.5rem;
    }
    .content {
        width: 90%;
    }
    .carousel-caption {
        top: 50%;
    }
    .carousel-caption h1 {
        font-size: 350%;
    }
    .carousel-caption h5 {
        font-size: 140%;
        font-weight: 400;
        padding-bottom: 0.2rem;
    }
    .carousel-caption .btn {
        font-size: 95%;
        padding: 8px 14px;
    }
    .lead {
        font-size: 95%
    }
}

@media (max-width: 768px) {
    .content {
        width: 100%;
    }
    .carousel-caption {
        top: 50%;
    }
    .carousel-caption h1 {
        font-size: 300%;
    }
    .carousel-caption h5 {
        font-size: 120%;
        font-weight: 400;
        padding-bottom: 0.2rem;
    }
    .carousel-caption .btn {
        font-size: 90%;
        padding: 7px 12px;
    }
    .lead {
        font-size: 90%
    }
    .display-4 {
        font-size: 290%;
    }
    .social a {
        font-size: 2em;
        padding: 1rem;
    }
    .welcome hr {
        margin-top: 2rem;
    }
    .entry .body ul {
        display: none;
    }
}

@media (max-width: 608px) {
    .content {
        width: 100%;
    }
    .carousel-caption {
        top: 50%;
    }
    .carousel-caption h1 {
        font-size: 250%;
    }
    .carousel-caption h5 {
        font-size: 100%;
        font-weight: 400;
        padding-bottom: 0.2rem;
    }
    /* .carousel-indicators {
        display: none;
    } */
    .display-4,
    h1 {
        font-size: 240%;
    }
    .social a {
        font-size: 1.5em;
        padding: 0.5rem;
    }
    .lead {
        font-size: 85%
    }
    .padding {
        padding-bottom: 1rem;
    }
}

@media (max-width: 506px) {
    .carousel-caption {
        top: 50%;
    }
    .carousel-caption h1 {
        font-size: 200%;
    }
    .carousel-caption h5 {
        font-size: 90%;
        font-weight: 400;
        padding-bottom: 0.2rem;
    }
    .display-4,
    h1 {
        font-size: 190%;
    }
    .welcome hr {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 458px) {
    .carousel-caption {
        top: 50%;
    }
    .carousel-indicators .social a {
        font-size: 1.2em;
        padding: 0.5rem;
    }
    .carousel-caption h1 {
        font-size: 150%;
    }
    .carousel-caption h5 {
        font-size: 85%;
        font-weight: 400;
        padding-bottom: 0.2rem;
    }
    .display-4,
    h1 {
        font-size: 140%;
    }
    .entry .title p {
        margin: 0;
        font-size: 50%;
    }
    .entry .title h3 {
        margin: 0;
        font-size: 70%;
    }
    .timeline {
        padding: 50px 25px;
    }
}


/*---Firefox Bug Fix --*/

.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}


/*--- Bootstrap Padding Fix --*/

[class*="col-"] {
    padding: 1rem;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/